body {
  background: #131313;
}

h1, p {
  color: white;
}

p {
  font-size:1.5em;
  line-height: 3vh;
}

input[type="text"] {
  padding: 1vh;
  border-radius: 10px;
  border: none;
  outline: none;
}


.header-wrapper {
  margin-top: 15vh;
}
.header-wrapper h1 {
  font-size: 4em;
  font-weight: 700;
}
.header-secondary {
  color: #1FFF43;
}

.result-wrapper {
  margin-top: 5vh;
}
